[submodule "ionicup-server"]
	path = ionicup-server
	url = https://github.com/ionicup/ionicup-server
	update = merge
[submodule "ionicup-models"]
	path = ionicup-models
	url = https://github.com/ionicup/ionicup-models
	update = merge
[submodule "ionicup-app"]
	path = ionicup-app
	url = https://github.com/ionicup/ionicup-app
	update = merge
